body {
    background-color: #063d98;
    text-align: center;
}

.arena {
    max-width: 60rem;
    height: 30rem;
    background: url("../images/background.jpg") no-repeat center center/cover;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#opponent-choice, #player-choice {
    max-width: 35%;
    margin: 75px;
}

#player-choice {
    transform: scaleX(-1);
}

.controls {
    background-color: #eaedc8;
    max-width: 60rem;
    height: 5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#cards, .score {
    max-width: 64%;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cards img {
    max-width: 4rem;
}